.product-card-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    position: relative;
    padding-bottom: 2em;
  
    img {
      width: 100%;
      height: 95%;
      object-fit: cover;
      margin-bottom: 5px;
      border: 1px solid black;
      border-bottom: none;
      border-radius: 5px;
    }
  
    button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 360px;
      display: none;
    }
  
    &:hover {
      img {
        opacity: 0.8;
      }
  
      button {
        opacity: 0.85;
        display: flex;
        text-align: center;
      }
    }
  
    .footer {
      position: relative;
      top: -30px;
      padding: 5px;
      width: 100%;
      min-height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      background-color: rgb(244, 174, 113);
    }
  }
  