.banner {
    height: 800px;
    background-position: left;
    background-size: cover;
    
    h1, p {
        color: #FFF;
        text-shadow: 0px 0px 5px #1b1a1a;
    }
}

@media (max-width: 576px) { 
    .banner {
        height: 80vh;

        h1 {
            font-size: 4em;
        }
    }
    
}