nav {
        background-color: #fff2ed;
    .logo-link {
        width: 197px;
    }

    .logo {
        height: 80px;
        width: 80px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            list-style-type: none;
        }
    }
}

@media (max-width: 576px) { 
    .logo-link {
        width: 80px;
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
    }
}