.navbar-shrink {
    padding: 5px 0px !important;
    transition: padding .3s;
}

nav {
    background-color: #fff2ed;
    box-shadow: 1px 0px 9px;
    
    #header {
        transition: padding .3s;
    }

    .logo-link {
        width: 197px;
    }

    .logo {
        height: 80px;
        width: 80px;
        transition: height .3s, width .3s;
    }

    .shrink-img {
        height: 45px;
        width: 45px;
        transition: height .3s, width .3s;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            list-style-type: none;
        }
    }
}

@media (max-width: 576px) { 
    .logo-link {
        display: none;
    }
}